[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python diff_checker.py"

[packages]
pandas = "*"
openpyxl = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.13"
